<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {%- block head ~%}
    {{- include('partials/head.html.twig') ~}}
    {%- endblock head ~%}
  </head>
  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    <div class="sidebar" id="sidebar">
      {%- block sidebar ~%}
      {{- include('partials/sidebar.html.twig') ~}}
      {%- endblock sidebar ~%}
    </div>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
            <small>{{ site.baseline }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">
        <div class="page">
          {%- block content ~%}
          <h1 class="page-title">{{ page.title }}</h1>
          {{- page.content ~}}
          {%- endblock content ~%}
        </div>
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>{% apply minify_js ~%}
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if (!checkbox.checked || sidebar.contains(target) || (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    {% endapply %}</script>
    {{- include('partials/svg.html.twig') ~}}
    {{- include('partials/cloudflareinsights.js.twig') ~}}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>