{% extends 'index.html.twig' %}

{% set taxonomy = page %}

{% block content %}
  <!--<h1 class="page-title">{{ taxonomy.singular|title }} "{{ taxonomy.title }}"</h1>-->
  <h1 class="page-title">{{ taxonomy.title }}</h1>
  {{ taxonomy.content }}
  <ul>
{% for post in taxonomy.pages|sortByDate %}
    <li>
      <a href="{{ url(post) }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul>
{% endblock %}
