    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">
        <p>{{ site.description }}</p>
      </div>
      <nav class="sidebar-nav">
{% for menu in site.menus.main|sortByWeight %}
        <a id="menu-{{ menu.id }}" weight="{{ menu.weight }}" class="sidebar-nav-item{% if url(page) == url(menu.url) or url(page) == url(menu.url)|trim('/') %} active{% endif %}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
{% endfor %}
      </nav>
      <div class="sidebar-item">
        <ul class="social inline">
          <li>
            <a rel="me" title="S'abonner au flux RSS" href="/rss.xml"><svg width="16" height="20" class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a>
          </li>
          <li>
            <a rel="me" title="M'envoyer un e-mail" href="mailto:me@narno.com"><svg width="16" height="20" class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a>
          </li>
          <li>
            <a rel="me" title="Me suivre sur Twitter" href="https://twitter.com/Narno"><svg width="16" height="20" class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
          </li>
          <li>
            <a rel="me" title="Me suivre sur GitHub" href="https://github.com/Narno"><svg width="16" height="20" class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
          </li>
        </ul>
      </div>
      <div class="sidebar-item">
        <p>&copy; 2001-{{ "now"|date("Y") }} {{ site.author.name }}</p>
        <p>Powered by <a href="{{ cecil.url }}">Cecil</a> &amp; <a href="https://github.com/poole/lanyon">Lanyon</a></p>
      </div>
    </div>
