      <div class="sidebar-item">
        <p>{{ site.description }}</p>
      </div>
      <nav class="sidebar-nav">
      {%- for menu in site.menus.main|sort_by_weight ~%}
        <a id="menu-{{ menu.id }}" weight="{{ menu.weight }}" class="sidebar-nav-item{% if url(page) == url(menu.url) or url(page) == url(menu.url)|trim('/') %} active{% endif %}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
      {%- endfor ~%}
      </nav>
      <div class="sidebar-item">
        <ul class="social inline">
          <li>
            <a title="{% trans "Subscribe to RSS feed" %}" href="{{ url('rss.xml') }}"><svg width="16" height="20" class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a>
          </li>
          <li>
            <a rel="me" title="{% trans "Send me an email" %}" href="mailto:{{ site.author.email }}"><svg width="16" height="20" class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a>
          </li>
          {%- if site.social is defined ~%}
          {%- if site.social.twitter is defined ~%}
          <li>
            <a rel="me" title="{% trans "Follow me on" %} Twitter" href="https://twitter.com/{{ site.social.twitter.creator }}"><svg width="16" height="20" class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
          </li>
          {%- endif ~%}
          {%- if site.social.github is defined ~%}
          <li>
            <a rel="me" title="{% trans "Follow me on" %} GitHub" href="https://github.com/{{ site.social.github.username }}"><svg width="16" height="20" class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
          </li>
          {%- endif ~%}
          {%- endif ~%}
        </ul>
      </div>
      <div class="sidebar-item">
        <p>&copy; 2001-{{ "now"|date("Y") }} {{ site.author.name }}</p>
        <p>{% trans "Powered by" %} <a href="{{ cecil.url }}">Cecil</a> &amp; <a href="https://github.com/poole/lanyon">Lanyon</a></p>
      </div>
