{% extends 'index.html.twig' %}

{% block content %}
<h1 class="page-title">{{ page.plural|title }}</h1>
<ul class="list-no-style">
{% for name, term in page.terms %}
  <li>
    <h2><a href="{{ url(page.plural ~ '/' ~ name) }}">{{ name }}</a> ({{ term|length }})</h2>
    <ul>
{% for page in term %}
      <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
{% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}
