        <div class="lastposts">
          <h2>Dernières <a href="/videos/">vidéos</a></h2>
          {#-
          <ul>
          {%- for video in site.pages.showable|filter_by('section', 'videos')|sort_by_date|slice(0, 5) ~%}
            <li><a href="{{ url(video) }}">{{ video.title }}</a></li>
          {%- endfor ~%}
          </ul>
          ~#}
          <div class="videos">
            {%- for video in site.pages.showable|filter_by('section', 'videos')|sort_by_date|slice(0, 5) ~%}
            <a href="{{ url(video) }}" title="{{ video.title }}">
              <img src="{{ asset(video.image)|resize(200) }}" alt="{{ video.title }}">
            </a>
            {%- endfor ~%}
          </div>
          <style>
            .videos {
              display: flex;
            }
            .videos a {
              padding-right: .5rem;
            }
          </style>
        </div>