      <div class="posts">
{% for post in site.pages|filterBy('star', 'true')|sortByDate|slice(0, 1) %}
        <div class="post">
          <h1 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h1>
          <span class="post-date">{{ post.date|date("j M Y") }}</span>
{% if post.destination is not defined %}
{% set readtime = readtime(post.content) %}
{% if readtime < 1 %}
{% set readtime = "< 1" %}
{% endif %}
          <span class="post-readtime"> &middot; <svg width="16" height="16" class="icon icon-clock"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg> {{ readtime }} min</span>
{% endif %}
          {{ post.content|excerptHtml }}
          <footer class="readmore">
            <a href="{{ url(post) }}#more">Lire la suite ›</a>
          </footer>
        </div>
{% endfor %}
      </div>
