<!DOCTYPE html>
<html lang="fr-fr">
{% include 'includes/head.html.twig' %}
  <body>
{% include 'includes/sidebar.html.twig' %}
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
            <small>{{ site.baseline }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">
{% include 'includes/jsonld.js.twig' %}
{% block content %}
{% include 'includes/home.html.twig' %}
        <hr />
{% include 'includes/lastposts.html.twig' %}
{% endblock content %}
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    </script>
{% include 'includes/footer.html.twig' %}
{% include 'includes/svg.html.twig' %}
{% if site.debug == true %}
    <pre>
    Layout: {{ _self.getTemplateName() }}
    {{ dump(page) }}
    </pre>
{% endif %}
{% include 'includes/regsw.js.twig' %}
{% include 'includes/ga.js.twig' %}
  </body>
</html>
