{% extends '_default/page.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.content }}
  {% for photo, description in site.data.photos.soltek_eq3401.sp94_guide_montage %}
  <figure>
    <img src="{{ photo }}" alt="{{ description }}"" />
    <figcaption>{{ description }}</figcaption>
  </figure>
  {% endfor %}
</div>
{% endblock content %}
