{% extends '_default/list.html.twig' %}

        {%- block content ~%}
          <div class="posts">
            <span>Vidéos</span>
            <blockquote>{{ page.description }}</blockquote>
            {%- for page_video in pages|sort_by_date ~%}
            <div class="post">
              <h1 class="post-title"><a href="{{ url(page_video) }}">{{~ page_video.title ~}}</a></h1>
              <a href="{{ url(page_video) }}" class="video" title="{{ page_video.title }}">
                <div class="play-btn">
                  {#-<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 311.69 311.69"><path d="M155.84,0A155.85,155.85,0,1,0,311.69,155.84,155.84,155.84,0,0,0,155.84,0Zm0,296.42A140.58,140.58,0,1,1,296.42,155.84,140.58,140.58,0,0,1,155.84,296.42Z"/><polygon points="218.79 155.84 119.22 94.34 119.22 217.34 218.79 155.84"/></svg>~#}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" /></svg>
                </div>
                {{- html(asset(page_video.image)) ~}}
              </a>
              <blockquote>{{ page_video.description }}</blockquote>
              <footer class="readmore">
                <a href="{{ url(page_video) }}">Voir la vidéo ›</a>
              </footer>
            </div>
            {%- endfor ~%}
          </div>
        {%- endblock content ~%}