{% extends '_default/list.atom.twig' %}

    {%- block entry ~%}
    {%- if item.videos[0] is defined ~%}
      {%- set video_asset = asset(item.videos[0]) ~%}
    {%- endif ~%}
    <id>{{ url(item, {canonical: true}) }}</id>
    <title>{{ item.title|e }}</title>
    <link href="{{ url(item, {canonical: true}) }}" rel="alternate" type="text/html" />
    {#-{%- if video_asset is defined ~%}
    <link href="{{ url(video_asset, {canonical: true}) }}" rel="enclosure" length="{{ video_asset.size }}" type="{{ video_asset.subtype }}" />
    {%- endif ~%}~#}
    <published>{{ item.date|date('c') }}</published>
    {%- if item.updated|default ~%}
    <updated>{{ item.updated|date('c') }}</updated>
    {%- endif ~%}
    {%- if 'txt' in item.output|default('html') ~%}
    <content type="text">
      <![CDATA[{{ item.content }}]]>
    </content>
    {%- else ~%}
    <content type="html">
      <![CDATA[
        {%- if video_asset is defined -%}
        {%- include 'partials/player.html.twig' with {page: item} ~%}
        <blockquote>{{ item.description }}</blockquote>
        {%- endif ~%}
        {{ item.content }}
      ]]>
    </content>
    {%- endif ~%}
    {%- endblock ~%}