{% extends '_default/page.html.twig' %}

{% block head %}
{{ parent() }}
  {%- for video in page.videos ~%}
    {%- set asset = asset(video) ~%}
    <link rel="preload" href="{{ asset(video) }}" as="video" type="{{ asset.subtype }}" />
  {%- endfor ~%}
    <meta property="og:video" content="{{ url(asset(page.videos[0]), {canonical:true}) }}" />
    <meta property="og:video:type" content="{{ asset(page.videos[0]).subtype }}" />
    <meta property="og:video:width" content="1280" />
    <meta property="og:video:height" content="720" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="{{ url(page, {canonical:true, format:'iframe'}) }}" />
    <meta name="twitter:player:width" content="1280" />
    <meta name="twitter:player:height" content="720" />
{%- endblock %}

        {% block content ~%}
          <div class="post">
            <span><a href="/videos">Vidéos</a></span>
            <h1 class="post-title">{{~ page.title ~}}</h1>
            {%- include 'partials/player.html.twig' with {page: page} only ~%}
            <style>
              video {
                border-radius: 5px;
              }
              :root {
                /*--plyr-color-main: grey;*/
              }
              .plyr {
                border-radius: 5px;
                margin: 0 0 2.2rem;
              }
            </style>
            <blockquote>{{ page.description }}</blockquote>
            {{~ page.content ~}}
          </div>
        {% endblock %}