{% extends '_default/page.html.twig' %}

{% block head %}
{{ parent() }}
  {%- for video in page.videos ~%}
    {%- set asset = asset(video) ~%}
    <link rel="preload" href="{{ asset(video) }}" as="video" type="{{ asset.subtype }}" />
  {%- endfor ~%}
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="{{ url(page, {canonical:true, format:'player'}) }}" />
    <meta name="twitter:player:width" content="480" />
    <meta name="twitter:player:height" content="270" />
    <style type="text/css">
      video {
        border-radius: 5px;
      }
    </style>
{% endblock %}

{% block content ~%}
          <div class="post">
            <span><a href="/videos">Vidéos</a></span>
            <h1 class="post-title">{{~ page.title ~}}</h1>
            {%- include 'partials/player.html.twig' with {page: page} only ~%}
            <blockquote>{{ page.description }}</blockquote>
            {{ page.content }}
          </div>
{% endblock %}