{% extends 'index.html.twig' %}

{% block content %}
<div class="posts">
  {% for post in site.pages|filterBy('section', 'blog')|sortByDate %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ url(post) }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date|date("d/m/Y") }}</span>
    {{ post.content|excerpt }}
  </div>
  {% endfor %}
</div>
{% if site.debug == true %}
<pre>
Layout: {{ _self.getTemplateName() }}
</pre>
{% endif %}
{% endblock content %}
